

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}

.form-control {
    background-color: white;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control::placeholder {
    color: white; 
    opacity: 0.7;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}
