.patient {
    text-align: center;
    margin-top: 120px;
}

.patient-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    column-gap: normal;
    margin: auto;
}

.patient-card {
    border: 1px solid grey;
    margin: 15px;
    box-shadow: 4px 4px 10px -5px;
    padding: 10px;
    line-height: 0.9;
    width: 80%;
    text-align: start;
    cursor: pointer;

}

.patient-card:hover {
    transform: scale(1.01);
}